#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.App {
  height: 100vh;
  width: 100vw;
}

.location-wrapper {
  background-color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  z-index: 1;
}

.location-input,
.map-location {
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}
.location-input {
  text-align: left;
}
.location-input .warning {
  color: red;
  font-size: 0.7em;
  padding: 0 10px;
}

.map-location {
  text-align: right;
}

.mapboxgl-popup-close-button {
  color: #333333;
}
.mapboxgl-popup-close-button:focus,
.mapboxgl-popup-close-button:focus-visible {
  color: #000000;
  outline: -webkit-focus-ring-color auto 1px;
}
