/* ---------------------------------------- */
/* Map specific CSS */
/* ---------------------------------------- */
#map-wrapper {
  flex-grow: 1;
}

.mapboxgl-popup-close-button {
  color: #333333;
}
.mapboxgl-popup-close-button:focus,
.mapboxgl-popup-close-button:focus-visible {
  color: #000000;
  outline: -webkit-focus-ring-color auto 1px;
}

/* Popup Content */
.weather-wrapper {
  text-align: left;
}
.weather-wrapper .description {
  text-align: center;
  margin-bottom: 1em;
}
.weather-wrapper p {
  margin: 0;
}
.weather-wrapper .icon2x {
  width: 100px;
  height: 100px;
}
.weather-wrapper img,
.weather-wrapper .icon {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.weather-wrapper .loading {
  padding: 1em;
  padding-bottom: 0.5em;
}

.weather-wrapper .loading p {
  display: inline-block;
  padding-left: 10px;
}
.weather-wrapper .data {
  font-weight: bold;
}

/* Loading Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #ff00ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff00ff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
